body, ul, li, a, button, p 
{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: Arial, sans-serif;
  background-color: #000000;
}
body::-webkit-scrollbar 
{
  display: none;
}
body
{
  background-image: url('../images/bg.png');
  background-repeat: no-repeat;
  background-size:cover;
}
.container 
{
  background-color: #000;
  margin: 0px auto;
}

.navbar 
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  z-index: 100;
}

.user-info 
{
  display: flex;
  align-items: center;
  gap: 15px;
}

.user-info .username 
{
  font-size: 16px;
  color: #fff;
}

.logout-form 
{
  margin: 0;
}

.logout-btn 
{
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
}

.logout-btn:hover 
{
  background-color: #0056b3;
  transform: scale(1.03);
}
.logo a 
{
  display: flex;
  align-items: center;
}

.logo 
{
  display: flex;
  align-items: center;
}

.logo img 
{
  height: 40px;
  margin-right: 10px;
}

.logo p 
{
  color: white;
  font-size: 22px;
  font-weight: bold;
  background-color: #000;
}

.user-info 
{
  display: flex;
  align-items: center;
  gap: 15px;
}

.user-info .username 
{
  font-size: 16px;
  color: #fff;
}

.logout-btn 
{
  padding: 8px 15px;
  background-color: #b31818;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
}

.logout-btn:hover 
{
  background-color: #e60e0e;
  transform: scale(1.03);
}

.nav-links 
{
  display: flex;
  align-items: center;
  gap: 30px;
  flex-grow: 1;
  justify-content: center;
  list-style: none;
}

.nav-links li 
{
  position: relative;
}

.nav-links a 
{
  color: rgb(255, 255, 255);
  font-size: 18px;
  transition: color 0.3s;
  display: flex;
  align-items: center;
}

.nav-links a:hover 
{
  color: #a6a6a6;
}

.arrow 
{
  margin-left: 5px;
  font-size: 12px;
}

.dropdown-menu 
{
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #000000;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 1000;
}

.dropdown-menu li a 
{
  display: block;
  padding: 8px 15px;
  color: rgb(255, 255, 255);
}

.dropdown-menu li a:hover 
{
  background-color: #000000;
  border-radius: 4px;
}

.dropdown:hover .dropdown-menu 
{
  display: block;
  background-color: #000000;
}

.carousel 
{
  position: relative;
  overflow: hidden;
  width: 100%;
  height:auto;
  margin: 0px auto;
}

.carousel-track-container 
{
  overflow: hidden;
  position: relative;
}

.carousel-track 
{
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item img 
{
  width: auto;
  height:auto;
  display: block;
}


.carousel-button 
{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  padding: 10px 20px;
  z-index: 10;
  border-radius: 5px;
}

.carousel-button:hover 
{
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-button.prev 
{
  left: 10px;
  background-color: rgba(0, 0, 0, 0.0);
  font-size: 80px;
  color: #ffffff;
}

.carousel-button.next 
{
  right: 10px;
  font-size: 80px;
  color:#ffffff;
  background-color: rgba(0, 0, 0, 0.0);
}


.hamburger 
{
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
}

.hamburger span 
{
  display: block;
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 2px;
  transition: all 0.3s ease;
}

@media (max-width: 768px) 
{
  .hamburger 
  {
    display: flex;
  }
  .nav-links 
  {
    display: none;
    flex-direction: column;
    background-color: #000;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    text-align: center;
    z-index: 999;
    transition: max-height 0.3s ease-in-out;
  }

  .nav-links.active 
  {
    display: flex;
  }

  .nav-links li 
  {
    padding: 10px 20px;
    width: 100%;
  }

  .dropdown-menu 
  {
    position: static;
    background-color: #111;
  }

  .dropdown-menu li a:hover 
  {
    background-color: #222;
  }
}

footer 
{
  background-color: #000000;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  bottom: 0;
  height: 1px;
}

footer p 
{
  margin: 0;
  font-size: 14px;
  background-color: #000000;
}

footer a 
{
  color: #007bff;
  text-decoration: none;
}

footer a:hover 
{
  text-decoration: underline;
  color: #0056b3;
}

.image-section-container 
{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  width: 100%;
  height: 867px; 
  margin: 0 auto; 
  overflow: hidden; 
}

.img-container 
{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img 
{
  width: 100%;
  height: 100%; 
  object-fit: cover;
}

.footer 
{
  text-align: center;
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  font-size: 14px;
}

.grid-container 
{
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(2, 1fr);  
  gap: 10px;
  height: auto; 
  width: 80%; 
  margin: 0 auto; 
  padding: 20px; 

}


.grid-item 
{
  position: relative;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 200px;
  width: 100%;
}

.grid-item:hover 
{
  transform: scale(1.05);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}

.grid-item a 
{
  text-decoration: none;
  color: white;
}

.about p, a 
{
  display: inline-flex;
  background-color: transparent;
}

.abt 
{
  background-color: transparent;
}

.header 
{
  color: #ffc107;
  text-align: center;
  padding: 30px 20px;
}

.header h1 
{
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.header p 
{
  font-size: 1rem;
  color: #fff;
  background-color: none;
}

.header a
{
  background-color: none;
}

.header-content p
{
  background-color: transparent;
}

.content 
{
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  flex: 1;
  margin-bottom:127.2px;
}

.content-box 
{
  max-width: 650px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border:1px solid rgba(255,255,255, 0.5);
  background-color: transparent;
}
.content-box span
{
  color:red;
}
.content-box h2 
{
  font-size: 2rem;
  margin-bottom: 15px;
  background-color: transparent;
}
.content-box p 
{
  margin-bottom: 20px;
  font-size: 1rem;
  color: #ffffff;
  text-align: justify;
  background-color: transparent;
}

.content-box strong 
{
  font-weight: bold;
  color: #ffc107;
}

.contact 
{
  display:flex;
  justify-content: center;
  padding: 40px 20px;
  flex: 1;
  margin-bottom:127.2px;
}

.contact-box 
{
  min-width: 650px;
  text-align: left;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border:1px solid rgba(255,255,255, 0.5);
  background-color: transparent;
}
.contact-box span
{
  color:rgb(243, 61, 61);
  font-size: larger;
  font-weight: bolder;
}
.contact-box h2 
{
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 15px;
  background-color: rgb(255, 255, 255);
}
.contact-box p 
{
  margin-bottom: 20px;
  font-size: 1rem;
  color: #ffffff;
  text-align: justify;
  background-color: rgb(255, 255, 255);
}

.contact-box input[type=text], input[type=number], label, select
{
  width:100%;
  margin:0px;
  height:26px;
  border-radius:7px;
  margin-bottom:20px;
}
.contact-box input[type=text], input[type=number], select 
{
  border:1px solid grey;  
  background-color:#f5f5f5;
  color:grey;
}
.contact-box input[type=text]:focus, input[type=number]:focus, select:focus 
{
  border:0px;
  background-color: white;
  outline: none;
  color:black;
}
.contact-box input[type=submit] 
{
  border-radius:35px;
  float:right;
  margin-right:0px;
  margin-top:10px;
  background-color:black;
  color:white;
  height:45px;
  width:120px;
  cursor: pointer;
}
.contact-box select
{
  height:37px;
}

.contact-box label
{
  color:white;
}

.contact-box input[type=submit]:hover 
{
  background-color:rgb(255, 255, 255);
  color:black;
}

#products
{
  background-image: url('../images/bg.png');
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
  background-size: cover; 
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rev
{
  color:white;
  text-align: center;
  margin-top:200px;
}